section.container_for_replies {
    display: grid;
    justify-items: end;
    border-left:1px solid $text-color-border;
    margin-top:20px;
    grid-gap:20px;
    .no_reply {
        color: $text-color-border;
        // border-top:1px solid;
        // border-bottom:1px solid;
        width:100%;
        text-align: center;
    }
}
.reply {  
    width: 90%;
}